body {
	margin:0 auto;
	background:#f1f1f1;
	font-family:arial,tahoma,helvetica;
	font-size:12px;
}

#wrap {
	margin:0 auto;
	padding:0;
	width:960px;
	height:auto;
	overflow:hidden;
	background:white;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.head {
	font-size:32px;
	text-align:center;
	color:#333;
}

.hr {
	width:80%;
	border:none;
	border-bottom:1px solid lightgray;
}

#content {
	margin:0 auto;
	padding:0;
	width:80%;
	overflow:hidden;
}

.content-head {
	font-size:18px;
	color:#333;
}

.content-text {
	font-size:14px;
	color:#666;
}

h3 {
	font-size:18px;
}

#example {
	margin:20px 0;
	float:left;
	clear:both;
}

.cfb {
	color:cornflowerblue;
	font-style:italic;
}

.coral {
	color:lightcoral;
	font-style:italic;
}

.box {
	padding:10px;
	background-color:#eee;
	color:gray;
	border-left:4px solid lightgray;
	font-style:italic;
}

.awesomelabel {
	outline:none;
	background:transparent;
	border:none;
	border-bottom:2px solid cornflowerblue;
	color:gray;
}

.awesomelabel:focus {
 	border-color:lightgray;
}

.awesomelabel:focus ~ label {
	color:cornflowerblue;
}

.awesomelabel-input-group label {
	font-family:georgia;
	font-size:14px;
	font-style:italic;
	color:#bbb;
}